# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Ignore backend models and data
backend/astrodash_models/*

#Ignore testing files
batch_upload.zip

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs
*.log
